<section class="shop checkout section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-10">
                <div class="checkout-form">

                    <h2>S'inscrire</h2>
                    <p>Veuillez vous inscrire  plus rapidement</p>


<section class="shop checkout section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="checkout-form">


                    {{ form_start(registrationForm,{attr:{'novalidate':'novalidate'}}) }}
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label>First Name<span>*</span>
                                </label>
                                {{ form_widget(registrationForm.nom,{'attr':{'class':'form-control '}}) }}
                                {{ form_errors(registrationForm.nom,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label>Last Name<span>*</span>
                                </label>
                                {{ form_widget(registrationForm.prenom,{'attr':{'class':'form-control '}}) }}
                                {{ form_errors(registrationForm.prenom,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label>Email Address<span>*</span>
                                </label>
                                {{ form_widget(registrationForm.email,{'attr':{'class':'form-control '}}) }}
                                {{ form_errors(registrationForm.email,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label>Login<span>*</span>
                                </label>
                                {{ form_widget(registrationForm.login,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(registrationForm.login,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label>Password<span>*</span>
                                </label>
                                {{ form_widget(registrationForm.mdp,{'attr':{'class':'form-control'}}) }}
                                {{ form_errors(registrationForm.mdp,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label>Adresse<span>*</span>
                                </label>
                                {{ form_widget(registrationForm.adresse,{'attr':{'class':'form-control '}}) }}
                                {{ form_errors(registrationForm.adresse,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label>Phone No<span>*</span>
                                </label>
                                {{ form_widget(registrationForm.phone,{'attr':{'class':'form-control '}}) }}
                                {{ form_errors(registrationForm.phone,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label>Date Naissance<span>*</span>
                                </label>
                                {{ form_widget(registrationForm.dateNaiss,{'attr':{'class':'form-control p-0 border-0'}}) }}
                                {{ form_errors(registrationForm.dateNaiss,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label>Sexe<span>*</span>
                                </label>
                                {{ form_widget(registrationForm.sexe,{'attr':{'class':'form-control '}}) }}
                                {{ form_errors(registrationForm.sexe,{'attr':{'class':'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <div>
                                <label>Image<span>*</span>
                                </label>
                                <div class="col-sm-10">
                                    {{ form_widget(registrationForm.image,{'attr':{'class':'form-control'}}) }}
                                    {{ form_errors(registrationForm.image,{'attr':{'class':' form-control'}}) }}

                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group create-account">
                                <input id="cbox" type="checkbox">
                                <label>Create an account?</label>
                            </div>
                        </div>
                    </div>
                    <div class="single-widget get-button">
                        <div class="content">
                            <div class="button">
                                {{ form_widget(registrationForm) }}
                                <button class="btn">{{ button_label|default('Save') }}</button>

                            </div>
                        </div>
                    </div>

                    {{ form_end(registrationForm) }}


                </div>
            </div>
        </div>
    </div>
</section>
                </div>
            </div>
        </div>
    </div>
</section>