{% extends 'baseA.html.twig' %}

{% block body %}

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">CLients</h1>        </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html"><i class="fa fa-home"></i>Menu</a>
                    </li>
                    <li>
                        <a href="eco-customers.html">CLients</a>
                    </li>
                    <li class="active">
                        <strong>Tous Les Clients</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Tous Les Clients</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">    <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">



                        <!-- ******************************************** -->


                        <table id="example" class="display table table-hover table-condensed" cellspacing="0" width="100%">

                            <thead>
                            <tr>

                                <th >Nom</th>
                                <th >prenom</th>
                                <th >Email</th>
                                <th >adresse</th>
                                <th >Telephone</th>
                                <th >image</th>
                                <th >Modification</th>
                                <th >Supprission</th>
                            </tr>
                            </thead>
                            {% for user in users %}
                                <tbody>

                                <tr>

                                    <td>{{ user.nom }}</td>
                                    <td>{{ user.prenom }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.adresse }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td><img src="{{ asset('upload/' ~user.image) }}" style=" width:100px; height:100px; " alt=""/></td>
                                    <td>   <a href="{{path('app_user_edit',{'idUser': user.idUser})}}" ><i class="fa fa-pencil-square-o"></i></a>
                                    </td>
                                    <td> <a href="{{path('app_user_rem',{'idUser':user.idUser})}}"><i class="fa fa-remove"></i></a></td>







                                </tbody>
                            {% endfor %}
                        </table>
                        <!-- ******************************************** -->




                    </div>
                </div>
            </div>
        </section></div>




{% endblock %}

