{% extends 'baseC.html.twig' %}

{% block title %}Index User{% endblock %}

{% block body %}
    <h4>Les Utilisateurs</h4>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Login</th>
                <th>Mdp</th>
                <th>Adresse</th>
                <th>Phone</th>
                <th>DateNaiss</th>
                <th>Sexe</th>
                <th>Rating</th>
                <th>NbArtEch</th>
                <th>NbArtPos</th>
                <th>Role</th>
                <th>Image</th>
                <th>Modification</th>
                <th>Supprission</th>


            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.mdp }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.dateNaiss ? user.dateNaiss|date('Y-m-d') : '' }}</td>
                <td>{{ user.sexe }}</td>
                <td>{{ user.rating }}</td>
                <td>{{ user.nbArtEch }}</td>
                <td>{{ user.nbArtPos }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.image }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'idUser': user.idUser}) }}">show</a>

                </td>
                <td>

                    <a href="{{ path('app_user_edit', {'idUser': user.idUser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
