{% extends 'baseC.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ user.mdp }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>DateNaiss</th>
                <td>{{ user.dateNaiss ? user.dateNaiss|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ user.sexe }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ user.rating }}</td>
            </tr>
            <tr>
                <th>NbArtEch</th>
                <td>{{ user.nbArtEch }}</td>
            </tr>
            <tr>
                <th>NbArtPos</th>
                <td>{{ user.nbArtPos }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('upload/'~user.image) }}" style=" width:100px; height:100px; " alt=""/></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'idUser': user.idUser}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
