{% extends 'baseA.html.twig' %}

{% block title %}SHow{% endblock %}

{% block body %}
    <h1>l'Utilisateur {{ app.user.prenom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ user.mdp }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>DateNaiss</th>
                <td>{{ user.dateNaiss ? user.dateNaiss|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ user.sexe }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ user.rating }}</td>
            </tr>
            <tr>
                <th>NbArtEch</th>
                <td>{{ user.nbArtEch }}</td>
            </tr>
            <tr>
                <th>NbArtPos</th>
                <td>{{ user.nbArtPos }}</td>
            </tr>

            <tr>
                <th>Image</th>
                <td><img src="{{ asset('upload/' ~user.image) }}" style=" width:100px; height:100px; " alt=""/></td>
            </tr>
        </tbody>

    </table>




{% endblock %}
